# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Android build outputs
*.apk
*.aab
output-metadata.json

# Native builds
.externalNativeBuild/
.cxx/

# Logs
*.log

# Profiling
*.hprof

# Signing keys
*.jks
*.keystore

# Firebase / Google Services
google-services.json

# Kotlin
.kotlin/

# Captures
captures/